#coding=utf-8

import os.path, sys

etc = {}

etc['debug'] = True
etc['error'] = False

etc['root_path'] = sys.path[0]
etc['login_url'] = '/login'
etc['template_path'] = os.path.join(etc['root_path'], 'app', 'views')
etc['cookie_secret'] = 'Yoursecretcookie'
etc['xsrf_cookies'] = True

etc['dbase'] = {
        'alogs': os.path.join(etc['root_path'], 'app', 'datas', 'alogs.db3'),
        'confs': os.path.join(etc['root_path'], 'app', 'datas', 'confs.db3'),
        'files': os.path.join(etc['root_path'], 'app', 'datas', 'files.db3'),
        'links': os.path.join(etc['root_path'], 'app', 'datas', 'links.db3'),
        'mails': os.path.join(etc['root_path'], 'app', 'datas', 'mails.db3'),
        'posts': os.path.join(etc['root_path'], 'app', 'datas', 'posts.db3'),
        'talks': os.path.join(etc['root_path'], 'app', 'datas', 'talks.db3'),
        'terms': os.path.join(etc['root_path'], 'app', 'datas', 'terms.db3'),
        'users': os.path.join(etc['root_path'], 'app', 'datas', 'users.db3')}
