{% extends "_base.html" %}

{% block title %}个人资料 - 控制面板 - {{ handler.get_runtime_conf('title') }}{% end %}

{% block mnav %}
{% module Template("admin/_mnav.html", mnav='admin') %}
{% end %}

{% block main %}
<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
            {% module Template("admin/_tabs.html", menu = 'prof') %}
        </ul>

        <ul class="breadcrumb">
            <li><a href="/admin"><i class="icon-th"></i> 控制面板</a> <span class="divider">/</span></li>
            <li class="active">个人资料</li>
        </ul>

        <form class="form-horizontal request-ajax-form-with-confirm" method="post" autocomplete="off">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="inputName">登录账户</label>
                <div class="controls">
                    <input type="text" id="inputName" value="{{ user['user_sign'] }}" required disabled="disabled">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNick">用户昵称</label>
                <div class="controls">
                    <input type="text" id="inputNick" name="name" value="{{ user['user_name'] }}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMail">用户邮箱</label>
                <div class="controls">
                    <input type="email" id="inputMail" name="mail" value="{{ user['user_mail'] }}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPswd">当前密码</label>
                <div class="controls">
                    <input type="password" id="inputPswd" name="pswd" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNpwd">新的密码</label>
                <div class="controls">
                    <input type="password" id="inputNpwd" name="npwd" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRpwd">确认密码</label>
                <div class="controls">
                    <input type="password" id="inputRpwd" name="rpwd" value="">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-danger">提交更新</button>
                    <button type="reset" class="btn" style="margin-left:18px">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
