{% extends "_base.html" %}

{% block title %}编辑评论 - 控制面板 - {{ handler.get_runtime_conf('title') }}{% end %}

{% block mnav %}
{% module Template("admin/_mnav.html", mnav='admin') %}
{% end %}

{% block main %}
<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
            {% module Template("admin/_tabs.html", menu = 'remas') %}
        </ul>

        <ul class="breadcrumb">
            <li><a href="/admin"><i class="icon-th"></i> 控制面板</a> <span class="divider">/</span></li>
            <li><a href="/admin/remas">评论管理</a> <span class="divider">/</span></li>
            <li class="active">编辑评论</li>
        </ul>

        <form class="form-horizontal request-ajax-form" method="post">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="input_user_name">评论用户</label>
                <div class="controls">
                    <input type="text" id="input_user_name" name="user_name" value="{{ rema['user_name'] }}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_user_mail">用户邮箱</label>
                <div class="controls">
                    <input type="text" id="input_user_mail" name="user_mail" value="{{ rema['user_mail'] }}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_rema_cont">评论内容</label>
                <div class="controls">
                    <textarea id="input_rema_cont" name="rema_cont" rows="10" class="span6" style="height:auto">{{ rema['rema_cont'] }}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_rema_rank">评论分值</label>
                <div class="controls">
                    <input type="text" id="input_rema_rank" name="rema_rank" value="{{ rema['rema_rank'] }}" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_rema_plus">评论加分</label>
                <div class="controls">
                    <input type="text" id="input_rema_plus" value="{{ rema['rema_plus'] }}" disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_rema_mins">评论减分</label>
                <div class="controls">
                    <input type="text" id="input_rema_mins" value="{{ rema['rema_mins'] }}" disabled>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-danger">提交更新</button>
                    <button type="reset" class="btn" style="margin-left:18px">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
