{% extends "../_base.html" %}

{% block title %}{{ user['user_name'] }} - {{ handler.get_runtime_conf('title') }}{% end %}

{% block css_head %}
<style>
    .lines {
        padding: 16px;
    }

    .title {
        font-weight: normal;
    }
</style>
{% end %}

{% block main %}
<div class="row">
    <div class="span3 offset1">
        {% module Template("shell/_side.html", user = user) %}
    </div>
    <div class="span6">
        <div class="board" id="shell-index-posts">
            {% module Template("shell/index/posts.html", pager = pager, posts = posts) %}
        </div>
    </div>
</div>
{% end %}

{% block js_foot %}
<script>
    $(function(){
        $('#shell-index-posts').pjax('a[data-pjax]', '#shell-index-posts');
    });
</script>
{% end %}
