{% extends "_base.html" %}

{% block title %}帐号信息 - {{ handler.get_runtime_conf('title') }}{% end %}

{% block navs %}
{% module Template("_navs.html", menu='') %}
{% end %}

{% block main %}
<div class="row">
    <div class="span8 offset1">
        <ul class="nav nav-tabs">
            {% module Template("shell/_tabs.html", menu='panel') %}
        </ul>

        <form class="form-horizontal request-ajax-form" method="post" autocomplete="off">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="inputName">用户名称：</label>
                <div class="controls">
                    <input class="span3" type="text" id="inputName" value="{{ user['user_name'] }}" required disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMail">联系邮箱：</label>
                <div class="controls">
                    <input class="span3" type="email" id="inputMail" name="mail" value="{{ user['user_mail'] }}" maxlength="64" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSign">个人签名：</label>
                <div class="controls">
                    <input class="span3" type="text" id="inputSign" name="sign" value="{{ user['user_sign'] }}" maxlength="128">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPswd">当前密码：</label>
                <div class="controls">
                    <input class="span3" type="password" id="inputPswd" name="pswd" minlength="6">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputNpwd">新的密码：</label>
                <div class="controls">
                    <input class="span3" type="password" id="inputNpwd" name="npwd" minlength="6">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRpwd">确认密码：</label>
                <div class="controls">
                    <input class="span3" type="password" id="inputRpwd" name="rpwd" minlength="6">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">提交更新</button>
                    <button type="reset" class="btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block foot_js %}
<script src="/assets/js/easydialog.js"></script>
{% end %}
