.carousel-control, .carousel-control:link, .carousel-control:visited {
    background: #000;
    border: none;
    opacity: 0;
    outline:none;
}
.carousel-control:hover {
    opacity: 0.8;
}
.sidebar a {
    font-size: 13px;
}
.article-list {
    padding-top: 10px;
}
.article-wrap {
    padding-bottom: 10px;
}
.article-body p {
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 20px;
}
div.ajax-form-loading
{
    width:32px;
    height:32px;
    background:url(../img/loading.gif) no-repeat;
    margin:0 auto;
}

.easyDialog_wrapper{ overflow:hidden; width:444px; color:#444; border:3px solid rgba(0,0,0,0); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4); -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); box-shadow:0 0 10px rgba(0,0,0,0.4); display:none; }

.easyDialog_wrapper .easyDialog_content{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#fff; border:1px solid #e5e5e5; }

.easyDialog_wrapper .easyDialog_title{ margin-top: 0; height:30px; line-height:30px; overflow:hidden; color:#666; padding:0 10px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#f7f7f7; border-radius:4px 4px 0 0; }

.easyDialog_wrapper .close_btn{ font-size:18px; _font-size:12px; font-weight:700; color:#999; text-decoration:none; float:right; }

.easyDialog_wrapper .close_btn:hover{ color:#333; }

.easyDialog_wrapper .easyDialog_text{ padding:20px; font-size:14px; line-height:22px; overflow:hidden;}

.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1; }

.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both; }

.easyDialog_wrapper .btn_highlight,
.easyDialog_wrapper .btn_normal{ border:1px solid; border-radius:2px; cursor:pointer; float:right; font-size:12px; padding:0 12px; height:24px; line-height:24px; margin-bottom:10px; }

.easyDialog_wrapper .btn_highlight{ background:#4787ed; background:-webkit-gradient(linear,center bottom,center top,from(#4787ed),to(#4d90fe)); background:-moz-linear-gradient(90deg, #4787ed, #4d90fe); border-color:#3079ed; color:#fff; }

.easyDialog_wrapper .btn_normal{ margin-left:10px; border-color:#c3c3c3; background:#ececec; color:#333; background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4)); background:-moz-linear-gradient(90deg,#ececec,#f4f4f4); }

#recaptcha_widget.recaptcha-widget {
    background: #fff;
    border: 1px solid #e5e5e5;
    min-width: 190px;
    max-width: 268px;
}
.recaptcha-widget #recaptcha_image {
    border-bottom: 1px solid #e5e5e5;
    height: 57px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}
.recaptcha-widget #recaptcha_image a {
    line-height: 17px;
}
.recaptcha-widget .recaptcha-main {
    padding: 13px;
    position: relative;
}
.recaptcha-widget .recaptcha-main .errormsg {
    margin: 0 0 0.5em;
}
.recaptcha-widget .recaptcha-main label strong {
    color: #222;
    display: block;
    margin: 0 0 0.4em;
}
.recaptcha-widget .recaptcha-main input[type="text"] {
}
.recaptcha-widget .recaptcha-buttons {
    float: right;
}
.recaptcha-widget .recaptcha-buttons a {
    background: none no-repeat scroll center center #fff;
    display: inline-block;
    height: 21px;
    line-height: 0;
    margin-left: 2px;
    opacity: 0.55;
    width: 21px;
}
.recaptcha-widget .recaptcha-buttons a:hover {
    opacity: 0.8;
}
.recaptcha-widget #recaptcha_reload_btn {
    background: url("../img/recaptcha-sprite.png") -63px;
}
.recaptcha-widget #recaptcha_switch_audio_btn {
    background: url("../img/recaptcha-sprite.png") -42px;
}
.recaptcha-widget #recaptcha_switch_img_btn {
    background: url("../img/recaptcha-sprite.png") -21px;
}
.recaptcha-widget #recaptcha_whatsthis_btn {
    background: url("../img/recaptcha-sprite.png");
}
.recaptcha-widget .recaptcha-buttons span {
    left: -99999em;
    position: absolute;
}
.recaptcha-widget.recaptcha_is_showing_audio .recaptcha_only_if_image, .recaptcha-widget.recaptcha_isnot_showing_audio .recaptcha_only_if_audio {
    display: none !important;
}
.recaptcha-widget #recaptcha_image img {
    max-width: 192px;
    width: 100%;
}
.recaptcha_is_building_widget {
    display: none;
}

@media print {
    .sidebar {
        display: none;
    }
}
