@media (max-width: 480px) {
    .panel-user-name {
        display: none;
    }
}

@media (max-width: 396px) {
    .navbar .nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
