{% extends "_base.html" %}

{% block title %}登录 - {{ handler.get_runtime_conf('title') }}{% end %}

{% block css_head %}
<style>
    .main-container {
        position: relative;
        width: 210px;
        margin: 10px auto;
        padding: 20px 40px 40px;
        background: #fff;
        border: 1px solid #ccc;
    }

    .main-container::before,.main-container::after {
        content: "";
        position: absolute;
        width: 100%;height: 100%;
        top: 3.5px;left: 0;
        background: #fff;
        z-index: -1;
        -webkit-transform: rotateZ(4deg);
        -moz-transform: rotateZ(4deg);
        -ms-transform: rotateZ(4deg);
        border: 1px solid #ccc;
    }

    .main-container::after {
        top: 5px;
        z-index: -2;
        -webkit-transform: rotateZ(-2deg);
        -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);
    }

    .auth-logo {
        text-align: center;
    }

    .auth-logo img.avatar {
        width: 100px; height: 100px;
        margin: 10px auto 30px;
        border-radius: 100%;
        border: 2px solid #aaa;
    }

    .auth-form input {
        text-align: center;
    }

    .auth-form .recaptcha-widget#recaptcha_widget {
        width: 208px;
    }

    .auth-form .recaptcha-widget #recaptcha_image {
        width: 200px !important;
    }

    .auth-form .recaptcha-widget .recaptcha-main input[type=text] {
        width: 170px;
    }
</style>
{% end %}

{% block main %}
<div class="container">
    <div class="main-container">
        <div class="auth-logo">
            <img class="avatar" src="{{ handler.get_runtime_conf('sites_asset') }}img/l.jpg">
        </div>
        <div class="auth-form">
            <form id="form-auth" action="/login" method="post">
                {% raw xsrf_form_html() %}
                {% if next %}
                <input type="hidden" name="redirect" value="{{ next }}">
                {% end %}
                <div class="control-group">
                    <div class="controls">
                        <input class="input-block-level" style="min-height: 34px;" type="text" name="username" autocomplete="off" placeholder="账号" required>
                        <input class="input-block-level" style="min-height: 34px;" type="password" name="password" autocomplete="off" placeholder="密码" required>
                    </div>
                </div>

                <div class="control-group">
                    <div id="recaptcha"></div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success input-block-level">登录</button>
                    </div>
                </div>

                <a rel="nofollow" href="/apply?entry=login" target="_blank" class="pull-right">没有帐号？</a>
                <label class="checkbox"><input type="checkbox" name="remember" value="30">保持登录状态</label>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block js_foot %}
<script>
    $(function(){
        $('#form-auth').submit(function()
        {
            var f = $(this);
            f.find('button[type=submit]').attr('disabled', 'disabled');

            if (f.data('recaptcha-loaded'))
            {
                $.post(f.attr('action'), f.serializeArray(), function(r)
                {
                    if (r.err)
                    {
                        alert('登录失败！' + r.msg);
                        L.widget.captcha.reload();
                        f.find('button[type=submit]').removeAttr('disabled');
                    }
                    else
                    {
                        location.href = r.url;
                    }
                }, 'json');
            }
            else
            {
                f.data('recaptcha-loaded', true);
                L.widget.captcha.create('#recaptcha');

                f.find('button[type=submit]').removeAttr('disabled');
            }

            return false;
        });
    });
</script>
{% end %}
