<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ handler.get_runtime_conf('title') }}{% end %}</title>
<meta name="description" content="{% block descp %}{{ handler.get_runtime_conf('descp') }}{% end %}">
<meta name="keywords" content="{% block keyws %}{{ handler.get_runtime_conf('keyws') }}{% end %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ handler.get_runtime_conf('sites_asset') }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ handler.get_runtime_conf('sites_asset') }}css/googstyle.min.css">

{% block css_head_mid %}{% end %}

<link rel="stylesheet" href="{{ handler.get_runtime_conf('sites_asset') }}css/framework.min.css?20140901">
<link rel="stylesheet" href="/assets/css/customize.css?20140902">

{% block css_head %}{% end %}
{% block js_head %}{% end %}

<!--[if lt IE 9]><script src="{{ handler.get_runtime_conf('sites_asset') }}js/html5shiv.min.js"></script><![endif]-->
</head>

<body class="ground" data-exts-scrollup="1" data-spy="scroll">
    <div class="facade">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ handler.get_runtime_conf('sites_index') }}">{% raw handler.get_runtime_conf('brand') %}</a>
                    {% if handler.current_user %}
                    <ul class="nav pull-right">
                        <li><a href="/panel"><i class="icon-user" style="vertical-align: baseline"></i><span> {{ handler.current_user['user_name'] }}</span></a></li>
                        <li><a href="/leave"><i class="icon-off" style="vertical-align: baseline"></i></a></li>
                    </ul>
                    {% end %}

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% block navs %}{% end %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="vessel center">
            <div class="container">
                {% block tips %}{% module Template("admin/_tips.html", tips = handler.get_runtime_conf('admin_notes')) %}{% end %}
                {% block main %}{% end %}
            </div>
        </div>

        <div class="footer center ground">
            <div class="container">
                {% block power %}{% raw handler.get_runtime_conf('power') %}{% end %}
                {% block built %}{% raw handler.get_runtime_conf('built') %}{% end %}
            </div>
        </div>
    </div>

    <script src="{{ handler.get_runtime_conf('sites_asset') }}js/jquery-1.10.1.min.js"></script>
    <script src="{{ handler.get_runtime_conf('sites_asset') }}js/jquery.form.min.js"></script>
    <script src="{{ handler.get_runtime_conf('sites_asset') }}js/jquery.scrollUp.min.js"></script>
    <script src="{{ handler.get_runtime_conf('sites_asset') }}js/bootstrap.min.js"></script>
    <script src="/assets/js/easydialog.js"></script>
    <script src="/assets/js/customize.js"></script>
    {% block js_foot %}{% end %}
</body>
</html>
